<div id="wrapper" class="col-xs-12">
  <div id="top-player" class="row">
    <div id="brand-title" class="col-xs-6 col-sm-3">SCL LIKES</div>
    <div id="title-info" class="hidden-xs col-sm-6"></div>
    <div id="auth-user-profile" class="col-xs-6 col-sm-3"></div>
  </div>
  <div id="now-playing" class="row">
    <span id="track-playing"></span>
    <span id="artist-playing"></span>
    <i id="add-to-favs" class="fa fa-heart" title="Add this to your favourites"></i>
  </div>
  <div id="inner-player" class="row">
    <div id="sort-by-filters" class="hidden-xs col-sm-3"></div>
    <div class="col-xs-12 col-sm-6">
      <div id="timeline">
        <div id="playhead"></div>
      </div>
    </div>
    <div class="hidden-xs col-sm-3">
      <audio class="music-player" controls></audio>
      <i class="fa fa-backward"></i>
      <i id="play-controller" class="fa fa-play-circle-o"></i>
      <i class="fa fa-forward"></i>
    </div>
  </div>
</div>